/* Add this CSS to your jass.css file */

body {
  background-color: #007bff; /* Blue background color */
  font-family: Arial, sans-serif;
}

.center {
  text-align: center;
}

#iconsContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icons {
  margin: 0 10px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.icons p {
  margin: 5px 0;
}

.icons .image {
  margin: 5px auto;
}

.icons img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.icons .weather {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

.icons .minValues,
.icons .maxValues {
  color: #666666;
  font-size: 14px;
}
